<!-- WRAPPER -->
<div id="wrapper">
  <!-- PAGE TITLE -->
  <header id="page-title">
    <div class="container">
      <h1>Journal</h1>
    </div>
  </header>
  <section class="container">
    <div class="row">
      <aside class="col-md-3">
        <div class="sb-mod">
          <div class="datebox">
            <button type="button" class='fa fa-arrow-circle-left' title='Previous Day'
                    style="cursor:pointer;"></button>
            SET JOURNAL DATE
            <button type="button" class='fa fa-arrow-circle-right' title='Next Day'
                    style="cursor:pointer;"></button>
            <div class="innerdatebox">
              <p class="input-group">
                <input type="text" class="form-control datepicker">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"
                                                                   style="font-size: 24px"></i></button>
                </span>
              </p>
            </div><!--Close innerdatebox-->
          </div><!--Close datebox-->
        </div><!--sb-mod-->
        <div>
          <div class="panel-group">

          </div>
        </div>
      </aside>

    <div class="col-md-9">
      <section>
        <div class="toptab">
          <ul class="nav nav-pills" id="topTabs" role="tablist">
            <li style="border-top-left-radius:4px;">
              <a data-href="#/food" style="border-radius:0px">
                <span class="journal-tab-text">FOOD JOURNAL</span>
              </a>
            </li>
          </ul>
        </div><!--Close toptab-->



      </section>

    </div> <!--Close col-md-9 -->
    </div>
</section>
</div>
<!-- /WRAPPER -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true"></div>

